.card__button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: $white;
    background-color: $ballblue;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  
  .card__button_a {
    text-decoration: none;
    font-size: $medium;
    color: $white;
    font-weight: 700;
  }
  
  .card__button:hover, .card__button_a:hover {
    background-color: $middleblue;
  }