.card {
  background-color: $white;
  width: 280px;
  height: 420px;
  margin: auto;
  text-align: left;
  border: 1px solid $nickel;
  padding: 20px;
  margin-bottom: 30px;

  h3 {
    font-size: $x-large;
  }

  h2 {
    font-size: $xxxx-large;
    font-weight: 700;
  }

}

.title {
  color: $raisinblack;
  font-size: 18px;
}

.card__ul {
  border-top: 1px solid $spanishgray;
  border-bottom: 1px solid $spanishgray;
  padding: 7px 30px;
  text-align: left;
  height: 40%;
}

