// Color Scheme

// First Color Scheme

$white: #FFFFFF;
$platinum: #E8E8E8;
$gray: #BABABA;

// Second Color Scheme

$darksalmon: #EE9480;
$melon: #F4BAAE;
$palepink: #FADFDA;

// Third Color Scheme

$ballblue: #2AB7CA;
$middleblue: #77D1DD;
$bluelagoon: #B1EAEB;

// Fourth Color Scheme

$onyx: #333745;
$spanishgray: #8F9199;
$lavendergray: #C7C8CC;

// Fifth Color Scheme

$raisinblack: #221D23;
$nickel: #726F73;
$silverchalice: #AEACAF;