footer {
    background-color: #000000;
    color: #ffffff;
    height: 150px;
    padding: 0% 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__item {
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    font-size: medium;
    margin: 0px 15px;
}