.precios {
    background-image: url('../img/bg-price.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: 10px;
    padding: 0px 0px 300px 0px;
    //background-color: #333645;//

    &__title {
        color: $white;
        text-align: center;
        font-size: x-large;
        color: red;
    }
}


@media (min-width: 768px) {

    .precios {
        height: auto;
        background-size: 100%;
        padding-bottom: 5%;
        padding-top: 10%;
        //background-color: #333645;//

        &__title {
            color: $white;
            text-align: center;
            font-size: xx-large;
        }
    }

}