.precios {
    background-image: url('../img/bg-price.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: palevioletred;
    margin-top: 500px;
    //background-color: #333645;//
}

@media (min-width: 768px) {

    .precios {
        height: auto;
        background-size: 100%;
        padding-bottom: 5%;
        padding-top: 29%;
        background-color: $melon;
        //background-color: #333645;//
    }

}