.header {
    background-image: url('/assets/img/bg-hero.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 1000px;
    padding-bottom: 5%;
}

.header__text {
    margin-top: 30%;
}