.header__img {
    background-image: url('../img/bg-hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: auto;
}

.header__text {
    margin: 15%;
    background-color: greenyellow;
}

@media (min-width: 768px) {

    .header__img {
        background-image: url('../img/bg-hero.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        height: 1000px;
        padding-bottom: 5%;
    }

    .header__text {
        background-color: purple;
        width: 100%;
        margin-top: 40%;

        .h1 {
            font-size: x-large;
            background-color: indigo;
        }

        .p {
            font-size: large;
            background-color: indigo;
        }
    }



}