.header__img {
    background-image: url('../img/bg-hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: auto;
}

.header__text {
    margin: 15%;
}

@media (min-width: 768px) {

    .header__img {
        background-image: url('../img/bg-hero.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
        height: 1000px;
        margin-top: 2%;
    }

    .header__text {
        width: 30%;
        margin-top: 10%;
        position: absolute;

        .h1 {
            font-size: x-large;
        }

        .p {
            font-size: large; 
        }
    }



}