.animation-element {
    opacity: 0;
    transition: all 500ms linear;
    transform: translate3d(0px, 20px,0px);
    transition-delay: 0.5s;
    position: relative;
}

.animation-element.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px,0px);
}

// FIN ANIMACIONES //

.main__title {
    text-align: center;
    font-size: xx-large;
}

.main__img {
    text-align: center;
    padding: 30px;
}

.main__text {
    text-align: left;
    padding: 30px;
}