/* ul.topnav {
  list-style-type: none;
  margin: 20px 50px;
  padding: 10px;
  overflow: hidden;
  background-color: $white; 
}

ul.topnav li {
  float: left;
  margin-left: 20px;
}

ul.topnav li a {
  display: block;
  color: $raisinblack;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: medium;
}

ul.topnav li a:hover:not(.active) {
  background-color: $middleblue;
  color: $white;
}

ul.topnav li a.active {
  background-color: $ballblue;
  color: $white;
  font-weight: 400;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 576px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}*/

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}