ul.topnav {
  list-style-type: none;
  margin: 20px 50px;
  padding: 10px;
  overflow: hidden;
  background-color: $white; 
}

ul.topnav li {
  float: left;
  margin-left: 20px;
}

ul.topnav li a {
  display: block;
  color: $raisinblack;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: medium;
}

ul.topnav li a:hover:not(.active) {
  background-color: $middleblue;
  color: $white;
}

ul.topnav li a.active {
  background-color: $ballblue;
  color: $white;
  font-weight: 400;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 576px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
} 