.my__nav {
    background-color: $white!important;
    color: $raisinblack!important;
    height: 100px;
}

  nav li {
    display: inline-block;
    text-decoration: none;
}

  nav li a {
    color: $white;
    text-decoration: none;
    font-size: 0.9rem;
}

  nav li a:hover {
    background-color: $ballblue;
}

.nav__button {
    background-color: $ballblue;

}  

.luxbar-items {
    text-align: left;
}